<div class="container">
    <h1>Portfolio</h1>
    <p>This is the portfolio section. Dulce did this section. Here is a row with 3 columns.</p>
</div>
 
<div class="container">
    <div class="row">
        <div class="col">
            <h2 style="color: blue;">Project 1</h2>
            <img src="/website/assets/img/big-project-image.png" width="300" height="250">
            <p>This is our first project.</p>
        </div>
        <div class="col">
            <h2 style="color: blue;">Project 2</h2>
            <img src="/website/assets/img/big-project-image.png" width="300" height="250">
            <p>This is our second project.</p>
        </div>
        <div class="col">
            <h2 style="color: blue;" >Project 3</h2>
            <img src="/website/assets/img/big-project-image.png" width="300" height="250">
            <p>This is our third project.</p>
        </div>

    </div>

</div>
    
      