<div class="container">
    <h1>Portfolio</h1>
    <p>This is the portfolio section. Dulce did this section. Here is a row with 3 columns.</p>
</div>
 
<div class="container">
    <div class="row">
        <div class="col">
            <h2 style="color: blue;">Project 1</h2>
            <img src="https://img.pixers.pics/pho_wat(s3:700/FO/20/93/78/71/700_FO20937871_1d6a2e7cbc1100e2bc86e4cc67ab2e30.jpg,700,461,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,411,jpg)/stickers-wooden-building-blocks.jpg.jpg" height="150px" width="200px">
            <p>This is our first project.</p>
        </div>
        <div class="col">
            <h2 style="color: blue;">Project 2</h2>
            <img src="https://www.helpmykidlearn.ie/images/uploads/blocks_2_larger.jpg" height="150px" width="200px">
            <p>This is our second project.</p>
        </div>
        <div class="col">
            <h2 style="color: blue;" >Project 3</h2>
            <img src="https://dictionary.cambridge.org/it/images/thumb/buildi_noun_004_0568.jpg?version=5.0.292" height="150px" width="200px">
            <p>This is our third project.</p>
        </div>

    </div>

</div>
    
      